html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    color: springgreen;
}

td[data-color-code='fizz'] {
    color: orangered;
}

td[data-color-code='buzz'] {
    color: yellow;
}

td[data-color-code='fizzbuzz'] {
    color: lightblue;
}